<footer class="navbar navbar-fixed-bottom navbar-inverse">
<p><a href="http://www.baidu.com/" target="_blank">LinxiHome</a> @2016</p>
<span><a href="/links" title="友情链接">links</a></span>
</footer>
      <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script> 
<script type="text/javascript" src="/javascripts/linxistyle.js"></script> 
      <script src="/javascripts/bootstrap.js"></script> 

</body>
</html>